@font-face {
  font-family: 'LabGrotesque';
  src: url(../../LabGrotesque/LabGrotesque-Light.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url(../../LabGrotesque/LabGrotesque-Regular.woff) format('woff');
  font-weight: regular;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url(../../LabGrotesque/LabGrotesque-Medium.woff) format('woff1');
  font-weight: medium;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url(../../LabGrotesque/LabGrotesque-Thin.woff) format('woff1');
  font-weight: 250;
}

@font-face {
  font-family: 'ScaniaSansCyHeadline';
  src: url(../../Scania/ScaniaSansCYHeadline-Regular.woff) format('woff1');
  font-weight: 400;
}


