$mainColorLight: #E5E5E5;
$backgroundColorDark: #757575;
$mainbackgroundColorDark: #000000;
$mainVideoColor: #121212;
$textColorDark1: #6D6D6D;
$textColorDark2: #949494;
$textColorActive: #FFCF7A;
$colorLight: #FFFFFF;
$gradientColor: $textColorDark1 0%, $colorLight 100%;