@mixin desctop {
  @media screen and (max-width: $desctop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin phones-small {
  @media screen and (max-width: $phones-small) {
    @content;
  }
}

@mixin mainTransition {
  transition: $mainTransition;
  cursor: pointer;
}

@mixin font-source-sans(
  $size: false,
  $colour: false,
  $weight: false,
  $lh: false
) {
  font-family: 'LabGrotesque', Helvetica, Arial, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 1px;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin center {
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin noDotNoMargin {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
