@import "../styles/mixins/index.scss";
@import "../vender/normalize.scss";
@import "../vender/fonts/fonts.scss";
@import "../styles/variables/index.scss";
@import "../blocks/bodyDiv/bodyDiv.scss";
@import "../blocks/headerDiv/headerDiv.scss";
@import "../blocks/logo/logo.scss";
@import "../blocks/mainDiv/mainDiv.scss";
@import "../blocks/sectionTitle/sectionTitles.scss";
@import "../blocks/mainFireplace/mainFireplace.scss";
@import "../blocks/sectionFuel/sectionFuel.scss";
@import "../blocks/smartFirePlace/smartFirePlace.scss";
@import "../blocks/description/description.scss";
@import "../blocks/sectionVideo/sectionVideo.scss";

body {
  text-align: center;
}

#footerDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
}
